:root {
  --sans:
    calibre,
    system-ui,
    -apple-system,
    blinkmacsystemfont,
    'Segoe UI',
    roboto,
    oxygen,
    ubuntu,
    cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  --mono: 'Pitch Sans', ui-monospace, menlo, courier, monospace;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282A36;
}

h1 {
  color: #F1FA8C;
}

.container {
  max-width: 60rem;
  margin: auto;
}

.container,
.astro-code {
  padding: 1rem;
}

.body {
  font-family: var(--sans);
  color: #8BE9FD;
  font-size: 1.4rem;
  a {
    color: #BD93F9;
  }
}

code {
  font-family: MonoLisa, monospace !important;
  font-size: 0.8rem;
}
