---
import Layout from "../layouts/Layout.astro"
import GhostContentAPI from "@tryghost/content-api"

const api = new GhostContentAPI({
  url: import.meta.env.PUBLIC_GHOST_API_URL,
  key: import.meta.env.PUBLIC_GHOST_CONTENT_API_KEY,
  version: "v5.0"
})

const getProps = async () => {
  const response = await api.posts.browse({limit: 1})
  console.log(response)
  return response
}

const response = await getProps()
const post = response[0]
---
<Layout title="Welcome to Astro.">
	<main>
    <h1>{post.title}</h1>
    <div class="body" set:html={post.html} />
	</main>
</Layout>

<style lang="scss">
.body {

}

a {
  color: red;
}
</style>
