---
import GhostContentAPI from "@tryghost/content-api"
import { Code } from "astro/components"
import Layout from "../layouts/Layout.astro"

const api = new GhostContentAPI({
  url: import.meta.env.PUBLIC_GHOST_API_URL,
  key: import.meta.env.PUBLIC_GHOST_CONTENT_API_KEY,
  version: "v5.0"
})

const getProps = async () => {
  const response = await api.posts.browse({limit: 1})
  console.log(response)
  return response
}

const response = await getProps()
const post = response[0]
const json = JSON.stringify(post, undefined, 2)
---
<Layout title="Welcome Home.">
  <main class="code">
    <Code code={json} lang="json" theme="dracula" wrap />
  </main>
</Layout>

<style>
.code {
  background-color: #282A36;
  font-family: MonoLisa, monospace !important;
  font-size: 0.8rem;
}
</style>
