$background: hsl(0, 0%, 100%);
$foreground: hsl(266, 54%, 36%);

html {
  font-size: 62.5%;
}

body {
  font-size: calc(10px + 2vmin);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#img {
  display: block;
  width: 128px;
  height: 16.8rem;
  padding: 0;
  margin: 2rem auto;
}

p {
  display: block;
  margin: 1rem auto;
  text-align: center;
}

#counter {
  padding: 4px 8px;
  color: $background;
  background-color: $foreground;
  border-radius: 4px;
}

a {
  color: $foreground;
}
