/* Add CSS styles here! */
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: -apple-system, "Helvetica Neue", sans-serif;
}

code {
  font-family: ui-monospace, menlo, monospace;
}
