html,
body {
  overscroll-behavior: none;
  scrollbar-width: none;
}

// body {
//   overflow: hidden;
// }

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

p {
  font-size: 2.2rem;
}
