html,
body {
  overscroll-behavior: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

p {
  font-size: 2.2rem;
}

.container {
  scrollbar-width: none;
}
