$background: hsla(0,0%,0%,0.5);
$text: hsl(43, 43%, 8%);

header {
  width: 100%;
  position: fixed;
  background: transparent;
  padding: 0 11%;
  opacity: 0;
  transition: opacity 0.3s;
  &:hover {
    opacity: 1;
    transition: opacity 0.3s;
  }
}

.menu {
  list-style: none;
  padding: 0.6rem 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  line-height: 5rem;
  text-transform: lowercase;
  font-weight: 300;
  color: $text;
  text-align: center;
  &__item {
    font-size: 3rem;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    transition: font-size 0.3s;
    &:hover {
      font-size: 3.5rem;
      transition: font-size 0.3s;
    }
  }
}

